/*! purgecss start ignore */
@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700;800;900&family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@400;600&family=Rubik&display=swap");

* {
}

body {
  /* background: #0b0c10; */
}

h1 {
  font-family: "Kanit", sans-serif;
}

h2,
p {
  font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-TEAL {
  color: #66fcf1;
}

.text-GRAY {
  color: #c5c6c7;
}

.text-DARK {
  color: #0b0c10;
}

.bg-TEAL {
  background: #66fcf1;
}

.bg-DARK-TEAL {
  background: #45a293;
}

.bg-DARK {
  background: #0b0c10;
}

.bg-GRAY {
  background: #c5c6c7;
}

.border-TEAL {
  border: 2px solid #66fcf1;
}

.thick-underline-TEAL {
  border-bottom: 15px solid #66fcf1;
  line-height: -2rem;
}

.thick-underline-DARK-TEAL {
  border-bottom: 15px solid #45a293;
  line-height: -2rem;
}

.box-TEAL {
  border-bottom: 15px solid #66fcf1;
  border-right: 15px solid #66fcf1;
}

.box-DARK-TEAL {
  border-bottom: 15px solid #45a293;
  border-right: 15px solid #45a293;
}

/*! purgecss end ignore */
@tailwind utilities;
